
.container-menu{
    grid-area: menu;
}

.menu-nav-closed{
    width: 0;
}


.menu-nav-open {
    border-radius: 0 0 20px 0;
    background-color: #7BAD69;
    width: 253.5px;
    height: 205vh;
    position: fixed;
    transition: width 0.3s ease-in-out;
}


.close-button{
    width: 30px;
}

.list-menu{
    color: #fff;
    padding: 20px;
    margin-left: 20px;
}

.line-menu{
    margin-top: 20px;
    list-style-type: none;
}

.link-menu{
    text-decoration: none;
    color: #fff;
}